#header-navbar {
  border-bottom: none;
}
.navbar-header {
	width: 100%;
}
#header-navbar .navbar-brand {
  width: 100%;
  background: url("../../images/notable_new_yorkers.gif") left top no-repeat;
  background-size: contain;
}

.btn-primary {
  color: #fff;
  background-color: #933;
  border-color: #f2e6ce;
}

// highlights for search matches
.blacklight-all_text_tsimv em{
  color: #933;
  font-weight:bold;
}

.nny-browse {
  background-color:#933;
  border-radius:5px;
}

.nny-browse ul {
  list-style-type:none;
  padding-top:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.nny-browse li {
  padding-left:0;
  margin-left:0;
}

.nny-browse a {
  color:#f2e6ce;
}

.nny-browse a:hover {
  color:#fff;
}