<% navbar_link ||= root_path %>
<nav id="header-navbar" class="navbar navbar-expand-md navbar-light bg-light topbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to navbar_link, class: "navbar-brand" do %>
        <%= content_tag :span, application_name, class: 'invisible' %>
      <% end %>
    </div>
  </div>
</nav>

<div id="search-navbar" class="navbar-search navbar navbar-light bg-light" role="navigation">
  <div class="container">
    <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||TextCollections::SearchBarComponent).new(
          url: search_action_url,
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(action: :suggest))) %>
  </div>
</div>