<h1>Digital Collections</h1>
This is an index of material in several collections:
<dl>
  <dt><a href="http://library.columbia.edu/locations/business/corpreports.html">Corporate Reports</a></dt><dd>A selection of our historic corporate report collection</dd>
  <dt><a href="http://library.columbia.edu/locations/rbml/digitalcollections/columns.html">Library Columns</a></dt><dd>Articles focused on individual collections, special acquisitions, literary topics and issues relating to the growth of Columbia's libraries and special collections generally, published from 1951 to 1996</dd>
  <dt><a href="http://www.columbia.edu/cu/lweb/digital/collections/nny/index.html">Notable New Yorkers</a></dt><dd>Audio recordings and transcripts of interviews with ten influential New Yorkers, drawn from the collections of the Oral History Research Office</dd>
</dl>